.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 147, 240);
    border: 1px solid rgb(108, 100, 143);
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  .card-icon{
    width:10vw;
    margin:0 auto;
  }
  .card-btn{
    padding:10px;
    border-radius: 5px;
    width: 50% ;
    margin:0 auto;
    background:transparent;
    border:2px solid white;
    color:white;
    font-weight:600;
    font-size:15px;
  }